section.additions
	.container
		.block-title С окнами Вы получаете
		.slider
			a.slide(href="#")
				img.slide__img(src=img+"additions/reflux.png", alt="")
				.slide__text отлив
			a.slide(href="#")
				img.slide__img(src=img+"additions/sill.png", alt="")
				.slide__text подоконник
			a.slide(href="#")
				img.slide__img(src=img+"additions/slope.png", alt="")
				.slide__text откосы
			a.slide(href="#")
				img.slide__img(src=img+"additions/mosquito.png", alt="")
				.slide__text москитная сетка
			a.slide(href="#")
				img.slide__img(src=img+"additions/lamination.png", alt="")
				.slide__text ламинация
			a.slide(href="#")
				img.slide__img(src=img+"additions/layout.png", alt="")
				.slide__text раскладка
			a.slide(href="#")
				img.slide__img(src=img+"additions/layout.png", alt="")
				.slide__text раскладка