section.balcony-purpose
	img.circle1(src=img+"balcony-purpose/circle1.png", alt="")
	img.circle2(src=img+"balcony-purpose/circle2.png", alt="")
	img.circle3(src=img+"balcony-purpose/circle3.png", alt="")
	.container
		.block-title Узнайте для каких целей наши клиенты <br> заказывают отделку балкона
		.block-text Остекление и отделка балкона – уникальная возможность организовать дополнительное пространство для жизни. Все то, что так хотелось иметь у себя дома, но на что так не хватало места. Уютный уголок для чтения, гостиная для дружеского чаепития, спортзал или светлая гардеробная – нет предела мечтаниям и возможностям! <br><br> Компания Оконный рай предлагает пакетные решения по отделке балкона и лоджии. Вы можете выбрать любой готовый вариант, адаптировать его под свои запросы или заказать полностью индивидуальное решение.
		.inner
			.slider-nav
				.slide
					img.slide__img(src=img+"balcony-purpose/img1.jpg", alt="")
					.slide__title ЛЕТНЯЯ ВЕРАНДА
				.slide
					img.slide__img(src=img+"balcony-purpose/img2.jpg", alt="")
					.slide__title КЛАДОВАЯ
				.slide
					img.slide__img(src=img+"balcony-purpose/img3.jpg", alt="")
					.slide__title ФИТНЕС-ЗОНА
				.slide
					img.slide__img(src=img+"balcony-purpose/img1.jpg", alt="")
					.slide__title КЛАДОВАЯ
			.slider-for
				.slide
					.slide-left
						img.slide__img(src=img+"balcony-purpose/img1.jpg", alt="")
						.slide-price
							.slide-price__title Цена отделки
							.slide-price__text от <b>6 058 ₽</b>/кв.м <span>(без учета остекления)</span>
					.slide-right
						.slide__title ЛЕТНЯЯ ВЕРАНДА
						.slide__text Воздушное светлое помещение с лаконичным дизайном – ничто не отвлекает от отдыха и размеренного течения теплой беседы за чашечкой чая. Здесь хорошо ловить последние лучи заходящего солнца, слушать пение птиц и любоваться красками летнего вечернего неба. Для экономии пространства остекление может быть выполнено раздвижными конструкциями.
						ul.slide-list
							li Стены и потолки: выравнивание поверхностей, отделка ПВХ-панелями из коллекции «Эконом».
							li Электрика: отсутствует.
							li Пол: черновой пол, настил линолеума, пластиковый плинтус.
							li Монтаж откосов и подоконников: включено в пакет.
						form.form(action="#" method="POST")
							.form-item
								input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
								button.form__btn.btn-dark(type="submit") отправить заявку
							.form-item
								.form__text Нажимая на кнопку, вы даете согласие на 
									a(href="http://", target="_blank", rel="noopener noreferrer") обработку своих персональных данных.
				.slide
					.slide-left
						img.slide__img(src=img+"balcony-purpose/img1.jpg", alt="")
						.slide-price
							.slide-price__title Цена отделки
							.slide-price__text от <b>6 058 ₽</b>/кв.м <span>(без учета остекления)</span>
					.slide-right
						.slide__title ЛЕТНЯЯ ВЕРАНДА
						.slide__text Воздушное светлое помещение с лаконичным дизайном – ничто не отвлекает от отдыха и размеренного течения теплой беседы за чашечкой чая. Здесь хорошо ловить последние лучи заходящего солнца, слушать пение птиц и любоваться красками летнего вечернего неба. Для экономии пространства остекление может быть выполнено раздвижными конструкциями.
						ul.slide-list
							li Стены и потолки: выравнивание поверхностей, отделка ПВХ-панелями из коллекции «Эконом».
							li Электрика: отсутствует.
							li Пол: черновой пол, настил линолеума, пластиковый плинтус.
							li Монтаж откосов и подоконников: включено в пакет.
						form.form(action="#" method="POST")
							.form-item
								input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
								button.form__btn.btn-dark(type="submit") отправить заявку
							.form-item
								.form__text Нажимая на кнопку, вы даете согласие на 
									a(href="http://", target="_blank", rel="noopener noreferrer") обработку своих персональных данных.
				.slide
					.slide-left
						img.slide__img(src=img+"balcony-purpose/img1.jpg", alt="")
						.slide-price
							.slide-price__title Цена отделки
							.slide-price__text от <b>6 058 ₽</b>/кв.м <span>(без учета остекления)</span>
					.slide-right
						.slide__title ЛЕТНЯЯ ВЕРАНДА
						.slide__text Воздушное светлое помещение с лаконичным дизайном – ничто не отвлекает от отдыха и размеренного течения теплой беседы за чашечкой чая. Здесь хорошо ловить последние лучи заходящего солнца, слушать пение птиц и любоваться красками летнего вечернего неба. Для экономии пространства остекление может быть выполнено раздвижными конструкциями.
						ul.slide-list
							li Стены и потолки: выравнивание поверхностей, отделка ПВХ-панелями из коллекции «Эконом».
							li Электрика: отсутствует.
							li Пол: черновой пол, настил линолеума, пластиковый плинтус.
							li Монтаж откосов и подоконников: включено в пакет.
						form.form(action="#" method="POST")
							.form-item
								input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
								button.form__btn.btn-dark(type="submit") отправить заявку
							.form-item
								.form__text Нажимая на кнопку, вы даете согласие на 
									a(href="http://", target="_blank", rel="noopener noreferrer") обработку своих персональных данных.
				.slide
					.slide-left
						img.slide__img(src=img+"balcony-purpose/img1.jpg", alt="")
						.slide-price
							.slide-price__title Цена отделки
							.slide-price__text от <b>6 058 ₽</b>/кв.м <span>(без учета остекления)</span>
					.slide-right
						.slide__title ЛЕТНЯЯ ВЕРАНДА
						.slide__text Воздушное светлое помещение с лаконичным дизайном – ничто не отвлекает от отдыха и размеренного течения теплой беседы за чашечкой чая. Здесь хорошо ловить последние лучи заходящего солнца, слушать пение птиц и любоваться красками летнего вечернего неба. Для экономии пространства остекление может быть выполнено раздвижными конструкциями.
						ul.slide-list
							li Стены и потолки: выравнивание поверхностей, отделка ПВХ-панелями из коллекции «Эконом».
							li Электрика: отсутствует.
							li Пол: черновой пол, настил линолеума, пластиковый плинтус.
							li Монтаж откосов и подоконников: включено в пакет.
						form.form(action="#" method="POST")
							.form-item
								input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
								button.form__btn.btn-dark(type="submit") отправить заявку
							.form-item
								.form__text Нажимая на кнопку, вы даете согласие на 
									a(href="http://", target="_blank", rel="noopener noreferrer") обработку своих персональных данных.

