section.balcony-project
	.container
		.block-title создайте самостоятельно макет <br> балкона за 30 секунд
		.inner
			.balcony-project-left
				.balcony-project-block
					.balcony-project-block-row
						.balcony-project-block__title КРЫША НА БАЛКОН
					.balcony-project-block__text Предотвращает скопление снега и влаги и не допускает протечек, сохраняя тепло на балконе.
					.balcony-project-variants.roof
						.balcony-project-variant.roof0.active(data-img="cancel-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/cancel.png", alt="")
							.balcony-project-variant__text Нет
						.balcony-project-variant.roof1(data-img="roof/v1-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/roof/v1.png", alt="")
							.balcony-project-variant__text Гофролист
						.balcony-project-variant.roof2(data-img="roof/v2-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/roof/v2.png", alt="")
							.balcony-project-variant__text Ондулин
				.balcony-project-block
					.balcony-project-block-row
						.balcony-project-block__title ТИП ОСТЕКЛЕНИЯ
					.balcony-project-variants.glazing-type
						.balcony-project-variant.big.plastik(data-img="glazing-type/v1-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/glazing-type/v1.png", alt="")
							.balcony-project-variant__text Пластиковый <br> профиль
						.balcony-project-variant.big.active(data-img="cancel-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/glazing-type/v2.png", alt="")
							.balcony-project-variant__text Алюминиевый <br> прфиль
				.balcony-project-block
					.balcony-project-block-row
						.balcony-project-block__title ВНЕШНЯЯ ОБШИВКА
					.balcony-project-block__text Наружная обшивка балкона не только дополнительно защитит от влаги, но и придает законченный вид.
					.balcony-project-variants.external-lining
						.balcony-project-variant.active(data-img="cancel-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/cancel.png", alt="")
							.balcony-project-variant__text Нет
						.balcony-project-variant(data-img="external-lining/v1-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/external-lining/v1.png", alt="")
							.balcony-project-variant__text Гофролист
						.balcony-project-variant(data-img="external-lining/v2-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/external-lining/v2.png", alt="")
							.balcony-project-variant__text Сайдинг
				.balcony-project-block
					.balcony-project-block-row
						.balcony-project-block__title КЛАДКА
					.balcony-project-block__text При необходимости теплого остекления на первом этапе балкон укрепляется кладкой из пеноблоков.
					.balcony-project-variants.masonry
						.balcony-project-variant.active(data-img="cancel-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/cancel.png", alt="")
							.balcony-project-variant__text Нет
						.balcony-project-variant(data-img="masonry/v1-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/masonry/v1.png", alt="")
							.balcony-project-variant__text Пеноблоки

			.balcony-project-center
				img.balcony-project__roof(src=img+"balcony-project/cancel-1.png", alt="")
				img.balcony-project__external-lining(src=img+"balcony-project/cancel-1.png", alt="")
				img.balcony-project__masonry(src=img+"balcony-project/cancel-1.png", alt="")
				img.balcony-project__glazing-type(src=img+"balcony-project/cancel-1.png", alt="")
				img.balcony-project__cupboard(src=img+"balcony-project/cancel-1.png", alt="")
				img.balcony-project__interior(src=img+"balcony-project/interior/v1-1.png", alt="")
				img.balcony-project__floor(src=img+"balcony-project/cancel-1.png", alt="")
				img.balcony-project__carcass(src=img+"balcony-project/carcass.jpg", alt="")
			.balcony-project-right
				.balcony-project-block
					.balcony-project-block-row
						.balcony-project-block__title ВНУТРЕННЯЯ <br> ОТДЕЛКА
						form.balcony-project-block-form
							select.balcony-project-block-select(name="interior-select")
								option(value="interior-select1" selected) ПВХ вагонка
								option(value="interior-select2") ПВХ панели
								option(value="interior-select3") Вагонка
					.balcony-project-block__text Большой выбор качественных материалов для внутренней отделки позволит подобрать оптимальный вариант на любой вкус.
					.balcony-project-variants
						.balcony-project-tab.active.interior#interior-select1
							.balcony-project-variant.active(data-img="interior/v1-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v1.png", alt="")
							.balcony-project-variant(data-img="interior/v2-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v2.png", alt="")
							.balcony-project-variant(data-img="interior/v3-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v3.png", alt="")
							.balcony-project-variant(data-img="interior/v4-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v4.png", alt="")
							.balcony-project-variant(data-img="interior/v5-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v5.png", alt="")
						.balcony-project-tab.interior#interior-select2
							.balcony-project-variant(data-img="interior/v6-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v6.png", alt="")
							.balcony-project-variant(data-img="interior/v7-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v7.png", alt="")
							.balcony-project-variant(data-img="interior/v8-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v8.png", alt="")
							.balcony-project-variant(data-img="interior/v9-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v9.png", alt="")
							.balcony-project-variant(data-img="interior/v10-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v10.png", alt="")
						.balcony-project-tab.interior#interior-select3
							.balcony-project-variant(data-img="interior/v11-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/interior/v11.png", alt="")
						
				.balcony-project-block
					.balcony-project-block-row
						.balcony-project-block__title шкаф
					.balcony-project-block__text Мы изготавливаем распашные, раздвижные шкафы-купе для балкона, а также тумбы по индивидуальным размерам.
					.balcony-project-variants.cupboard
						.balcony-project-variant.active(data-img="cancel-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/cancel.png", alt="")
							.balcony-project-variant__text Нет
						.balcony-project-variant(data-img="cupboard/v1-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/cupboard/v1.png", alt="")
							.balcony-project-variant__text Распашной
						.balcony-project-variant(data-img="cupboard/v2-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/cupboard/v2.png", alt="")
							.balcony-project-variant__text Купе
						.balcony-project-variant(data-img="cupboard/v3-1.png")
							.img-wrap
								img.balcony-project-variant__img(src=img+"balcony-project/cupboard/v3.png", alt="")
							.balcony-project-variant__text Тумба
				.balcony-project-block
					.balcony-project-block-row
						.balcony-project-block__title НАСТИЛ ПОЛА
						form.balcony-project-block-form
							select.balcony-project-block-select(name="floor-select")
								option(value="floor-select1" selected) Линолеум
								option(value="floor-select2") Ламинат
								option(value="floor-select3") Доска пола
					.balcony-project-block__text Широкий ассортимент ламината и линолеума для напольного покрытия даст возможность выбрать то, что нужно именно Вам.
					.balcony-project-variants
						.balcony-project-tab.active.floor#floor-select1
							.balcony-project-variant(data-img="floor/v1-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v1.png", alt="")
							.balcony-project-variant(data-img="floor/v2-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v2.png", alt="")
							.balcony-project-variant(data-img="floor/v3-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v3.png", alt="")
							.balcony-project-variant(data-img="floor/v4-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v4.png", alt="")
							.balcony-project-variant(data-img="floor/v5-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v5.png", alt="")
						.balcony-project-tab.floor#floor-select2
							.balcony-project-variant(data-img="floor/v6-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v6.png", alt="")
							.balcony-project-variant(data-img="floor/v7-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v7.png", alt="")
							.balcony-project-variant(data-img="floor/v8-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v8.png", alt="")
							.balcony-project-variant(data-img="floor/v9-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v9.png", alt="")
						.balcony-project-tab.floor#floor-select3
							.balcony-project-variant(data-img="cancel-1.png")
								.img-wrap
									img.balcony-project-variant__img(src=img+"balcony-project/floor/v10.png", alt="")
				
				ul.action
					li
						a.btn-yellow(href="#") хочу такой же
							

