section.clients-choose-tabs
	img.circle1(src=img+"clients-choose-tabs/circle1.png", alt="")
	img.circle2(src=img+"clients-choose-tabs/circle2.png", alt="")
	img.circle3(src=img+"clients-choose-tabs/circle3.png", alt="")
	.container
		.block-title Ознакомьтесь с оконными системами, <br> которые выбирают наши клиенты
		.inner.tabs
			ul.tabs-links
				li
					a.anchor(href="#clients-choose-tabs-tab1") BLITZ
				li
					a.anchor(href="#clients-choose-tabs-tab2") GRAZIO
				li
					a.anchor(href="#clients-choose-tabs-tab3") DELIGHT
				li
					a.anchor(href="#clients-choose-tabs-tab4") INTELIO 80
				li
					a.anchor(href="#clients-choose-tabs-tab5") BRILLANT
				li
					a.anchor(href="#clients-choose-tabs-tab6") LA PRIMA
				li
					a.anchor(href="#clients-choose-tabs-tab7") GENEO
			.tab#clients-choose-tabs-tab1
				.tab-left
					.text-container
						h3
							span Максимально теплые окна по привлекательной цене
						p Изящные, но самые тихие окна от REHAU.
						p Новинка также не обделена теплоизоляционными характеристиками, которые помогают создать оптимальный микроклимат в доме.
						h6 Технические характеристики:
						ul
							li шестикамерный профиль REHAU + дизайнерская округлая створка шириной 94 мм;
							li фигурный штапик и грани створки имитируют классические деревянные окна;
							li низкая рама – меньше пластика больше света; укомплектованы ударопрочным ТЕПЛОПАКЕТОМ;
							li уникальный запатентованный уплотнитель RAUCELL серого цвета, преумножающий надежность и герметичность окна втрое.
					.tab-list
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon1.svg", alt="")
							.tab-item__text Теплоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon2.svg", alt="")
							.tab-item__text Звукоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon3.svg", alt="")
							.tab-item__text Светлые окна
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon4.svg", alt="")
							.tab-item__text Эко-продукт
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon5.svg", alt="")
							.tab-item__text Срок службы
					.tab-price
						.tab-price-inner
							.tab-price__title Пластиковые окна для коттеджа
							.tab-price__num от <b>5 356 ₽</b>/кв.м
						a.tab-price__link.btn-yellow(href="#") заказать
				.tab-right
					img.tab__img(src=img+"clients-choose-tabs/img.jpg", alt="")
			.tab#clients-choose-tabs-tab2
				.tab-left
					.text-container
						h3
							span Максимально теплые окна по привлекательной цене
						p Изящные, но самые тихие окна от REHAU.
						p Новинка также не обделена теплоизоляционными характеристиками, которые помогают создать оптимальный микроклимат в доме.
						h6 Технические характеристики:
						ul
							li шестикамерный профиль REHAU + дизайнерская округлая створка шириной 94 мм;
							li фигурный штапик и грани створки имитируют классические деревянные окна;
							li низкая рама – меньше пластика больше света; укомплектованы ударопрочным ТЕПЛОПАКЕТОМ;
							li уникальный запатентованный уплотнитель RAUCELL серого цвета, преумножающий надежность и герметичность окна втрое.
					.tab-list
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon1.svg", alt="")
							.tab-item__text Теплоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon2.svg", alt="")
							.tab-item__text Звукоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon3.svg", alt="")
							.tab-item__text Светлые окна
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon4.svg", alt="")
							.tab-item__text Эко-продукт
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon5.svg", alt="")
							.tab-item__text Срок службы
					.tab-price
						.tab-price-inner
							.tab-price__title Пластиковые окна для коттеджа
							.tab-price__num от <b>5 356 ₽</b>/кв.м
						a.tab-price__link.btn-yellow(href="#") заказать
				.tab-right
					img.tab__img(src=img+"clients-choose-tabs/img.jpg", alt="")
			.tab#clients-choose-tabs-tab3
				.tab-left
					.text-container
						h3
							span Максимально теплые окна по привлекательной цене
						p Изящные, но самые тихие окна от REHAU.
						p Новинка также не обделена теплоизоляционными характеристиками, которые помогают создать оптимальный микроклимат в доме.
						h6 Технические характеристики:
						ul
							li шестикамерный профиль REHAU + дизайнерская округлая створка шириной 94 мм;
							li фигурный штапик и грани створки имитируют классические деревянные окна;
							li низкая рама – меньше пластика больше света; укомплектованы ударопрочным ТЕПЛОПАКЕТОМ;
							li уникальный запатентованный уплотнитель RAUCELL серого цвета, преумножающий надежность и герметичность окна втрое.
					.tab-list
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon1.svg", alt="")
							.tab-item__text Теплоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon2.svg", alt="")
							.tab-item__text Звукоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon3.svg", alt="")
							.tab-item__text Светлые окна
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon4.svg", alt="")
							.tab-item__text Эко-продукт
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon5.svg", alt="")
							.tab-item__text Срок службы
					.tab-price
						.tab-price-inner
							.tab-price__title Пластиковые окна для коттеджа
							.tab-price__num от <b>5 356 ₽</b>/кв.м
						a.tab-price__link.btn-yellow(href="#") заказать
				.tab-right
					img.tab__img(src=img+"clients-choose-tabs/img.jpg", alt="")
			.tab#clients-choose-tabs-tab4
				.tab-left
					.text-container
						h3
							span Максимально теплые окна по привлекательной цене
						p Изящные, но самые тихие окна от REHAU.
						p Новинка также не обделена теплоизоляционными характеристиками, которые помогают создать оптимальный микроклимат в доме.
						h6 Технические характеристики:
						ul
							li шестикамерный профиль REHAU + дизайнерская округлая створка шириной 94 мм;
							li фигурный штапик и грани створки имитируют классические деревянные окна;
							li низкая рама – меньше пластика больше света; укомплектованы ударопрочным ТЕПЛОПАКЕТОМ;
							li уникальный запатентованный уплотнитель RAUCELL серого цвета, преумножающий надежность и герметичность окна втрое.
					.tab-list
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon1.svg", alt="")
							.tab-item__text Теплоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon2.svg", alt="")
							.tab-item__text Звукоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon3.svg", alt="")
							.tab-item__text Светлые окна
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon4.svg", alt="")
							.tab-item__text Эко-продукт
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon5.svg", alt="")
							.tab-item__text Срок службы
					.tab-price
						.tab-price-inner
							.tab-price__title Пластиковые окна для коттеджа
							.tab-price__num от <b>5 356 ₽</b>/кв.м
						a.tab-price__link.btn-yellow(href="#") заказать
				.tab-right
					img.tab__img(src=img+"clients-choose-tabs/img.jpg", alt="")
			.tab#clients-choose-tabs-tab5
				.tab-left
					.text-container
						h3
							span Максимально теплые окна по привлекательной цене
						p Изящные, но самые тихие окна от REHAU.
						p Новинка также не обделена теплоизоляционными характеристиками, которые помогают создать оптимальный микроклимат в доме.
						h6 Технические характеристики:
						ul
							li шестикамерный профиль REHAU + дизайнерская округлая створка шириной 94 мм;
							li фигурный штапик и грани створки имитируют классические деревянные окна;
							li низкая рама – меньше пластика больше света; укомплектованы ударопрочным ТЕПЛОПАКЕТОМ;
							li уникальный запатентованный уплотнитель RAUCELL серого цвета, преумножающий надежность и герметичность окна втрое.
					.tab-list
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon1.svg", alt="")
							.tab-item__text Теплоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon2.svg", alt="")
							.tab-item__text Звукоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon3.svg", alt="")
							.tab-item__text Светлые окна
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon4.svg", alt="")
							.tab-item__text Эко-продукт
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon5.svg", alt="")
							.tab-item__text Срок службы
					.tab-price
						.tab-price-inner
							.tab-price__title Пластиковые окна для коттеджа
							.tab-price__num от <b>5 356 ₽</b>/кв.м
						a.tab-price__link.btn-yellow(href="#") заказать
				.tab-right
					img.tab__img(src=img+"clients-choose-tabs/img.jpg", alt="")
			.tab#clients-choose-tabs-tab6
				.tab-left
					.text-container
						h3
							span Максимально теплые окна по привлекательной цене
						p Изящные, но самые тихие окна от REHAU.
						p Новинка также не обделена теплоизоляционными характеристиками, которые помогают создать оптимальный микроклимат в доме.
						h6 Технические характеристики:
						ul
							li шестикамерный профиль REHAU + дизайнерская округлая створка шириной 94 мм;
							li фигурный штапик и грани створки имитируют классические деревянные окна;
							li низкая рама – меньше пластика больше света; укомплектованы ударопрочным ТЕПЛОПАКЕТОМ;
							li уникальный запатентованный уплотнитель RAUCELL серого цвета, преумножающий надежность и герметичность окна втрое.
					.tab-list
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon1.svg", alt="")
							.tab-item__text Теплоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon2.svg", alt="")
							.tab-item__text Звукоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon3.svg", alt="")
							.tab-item__text Светлые окна
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon4.svg", alt="")
							.tab-item__text Эко-продукт
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon5.svg", alt="")
							.tab-item__text Срок службы
					.tab-price
						.tab-price-inner
							.tab-price__title Пластиковые окна для коттеджа
							.tab-price__num от <b>5 356 ₽</b>/кв.м
						a.tab-price__link.btn-yellow(href="#") заказать
				.tab-right
					img.tab__img(src=img+"clients-choose-tabs/img.jpg", alt="")
			.tab#clients-choose-tabs-tab7
				.tab-left
					.text-container
						h3
							span Максимально теплые окна по привлекательной цене
						p Изящные, но самые тихие окна от REHAU.
						p Новинка также не обделена теплоизоляционными характеристиками, которые помогают создать оптимальный микроклимат в доме.
						h6 Технические характеристики:
						ul
							li шестикамерный профиль REHAU + дизайнерская округлая створка шириной 94 мм;
							li фигурный штапик и грани створки имитируют классические деревянные окна;
							li низкая рама – меньше пластика больше света; укомплектованы ударопрочным ТЕПЛОПАКЕТОМ;
							li уникальный запатентованный уплотнитель RAUCELL серого цвета, преумножающий надежность и герметичность окна втрое.
					.tab-list
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon1.svg", alt="")
							.tab-item__text Теплоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon2.svg", alt="")
							.tab-item__text Звукоизоляция
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon3.svg", alt="")
							.tab-item__text Светлые окна
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon4.svg", alt="")
							.tab-item__text Эко-продукт
						.tab-item
							.tab-item-icon
								img.tab-item__icon(src=img+"clients-choose-tabs/icon5.svg", alt="")
							.tab-item__text Срок службы
					.tab-price
						.tab-price-inner
							.tab-price__title Пластиковые окна для коттеджа
							.tab-price__num от <b>5 356 ₽</b>/кв.м
						a.tab-price__link.btn-yellow(href="#") заказать
				.tab-right
					img.tab__img(src=img+"clients-choose-tabs/img.jpg", alt="")

