section.doors-types
	.container
		.block-title Ознакомьтесь, чем отличаются типы дверей, <br> которые мы устанавливаем
		.inner
			.item
				img.item__img(src=img+"doors-types/img1.jpg", alt="")
				.item__title Дверь ПВХ на балкон
				.item__text Пластиковая дверь со стеклянной вставкой сверху
				.item-price
					.item-price__curr 5 190 ₽
					.item-price__old 6 290
				.item-block
					.item-block__title размер
					.item-block__text Узкая 2 х 0,6 м
				.item-block
					.item-block__title СОСТАВ/МАТЕРИАЛ
					.item-block__text ПВХ пластик, стекло
				.item-block
					.item-block__title ПРОИЗВОДИТЕЛЬ/СТРАНА	
					.item-block__text Россия, Германия
				a.item__link.btn-yellow(href="#") Рассчитать стоимость
			.item
				img.item__img(src=img+"doors-types/img2.jpg", alt="")
				.item__title Дверь ПВХ балконная
				.item__text С двумя стеклянными вставками и перегородкой
				.item-price
					.item-price__curr 5 190 ₽
					.item-price__old 6 290
				.item-block
					.item-block__title размер
					.item-block__text Узкая 2 х 0,6 м
				.item-block
					.item-block__title СОСТАВ/МАТЕРИАЛ
					.item-block__text ПВХ пластик, стекло
				.item-block
					.item-block__title ПРОИЗВОДИТЕЛЬ/СТРАНА	
					.item-block__text Россия, Германия
				a.item__link.btn-yellow(href="#") Рассчитать стоимость
			.item
				img.item__img(src=img+"doors-types/img3.jpg", alt="")
				.item__title Дверь для балкона
				.item__text С полным остеклением без перегородки
				.item-price
					.item-price__curr 5 190 ₽
					.item-price__old 6 290
				.item-block
					.item-block__title размер
					.item-block__text Узкая 2 х 0,6 м
				.item-block
					.item-block__title СОСТАВ/МАТЕРИАЛ
					.item-block__text ПВХ пластик, стекло
				.item-block
					.item-block__title ПРОИЗВОДИТЕЛЬ/СТРАНА	
					.item-block__text Россия, Германия
				a.item__link.btn-yellow(href="#") Рассчитать стоимость
			.item
				img.item__img(src=img+"doors-types/img4.jpg", alt="")
				.item__title Дверь ПВХ глухая
				.item__text Пластиковая дверь без стеклянных вставок
				.item-price
					.item-price__curr 5 190 ₽
					.item-price__old 6 290
				.item-block
					.item-block__title размер
					.item-block__text Узкая 2 х 0,6 м
				.item-block
					.item-block__title СОСТАВ/МАТЕРИАЛ
					.item-block__text ПВХ пластик, стекло
				.item-block
					.item-block__title ПРОИЗВОДИТЕЛЬ/СТРАНА	
					.item-block__text Россия, Германия
				a.item__link.btn-yellow(href="#") Рассчитать стоимость
			.item
				img.item__img(src=img+"doors-types/img5.jpg", alt="")
				.item__title Межкомнатная пластиковая дверь
				.item__text Входная или офисная дверь штульповая из ПВХ
				.item-price
					.item-price__curr 5 190 ₽
					.item-price__old 6 290
				.item-block
					.item-block__title размер
					.item-block__text Узкая 2 х 0,6 м
				.item-block
					.item-block__title СОСТАВ/МАТЕРИАЛ
					.item-block__text ПВХ пластик, стекло
				.item-block
					.item-block__title ПРОИЗВОДИТЕЛЬ/СТРАНА	
					.item-block__text Россия, Германия
				a.item__link.btn-yellow(href="#") Рассчитать стоимость
			.item
				img.item__img(src=img+"doors-types/img6.jpg", alt="")
				.item__title Межкомнатная пластиковая дверь
				.item__text Одностворчатая входная пластиковая дверь
				.item-price
					.item-price__curr 5 190 ₽
					.item-price__old 6 290
				.item-block
					.item-block__title размер
					.item-block__text Узкая 2 х 0,6 м
				.item-block
					.item-block__title СОСТАВ/МАТЕРИАЛ
					.item-block__text ПВХ пластик, стекло
				.item-block
					.item-block__title ПРОИЗВОДИТЕЛЬ/СТРАНА	
					.item-block__text Россия, Германия
				a.item__link.btn-yellow(href="#") Рассчитать стоимость
			.item
				img.item__img(src=img+"doors-types/img7.jpg", alt="")
				.item__title Межкомнатная пластиковая дверь
				.item__text С матовым стеклом. Для офиса, коттеджа или дома
				.item-price
					.item-price__curr 5 190 ₽
					.item-price__old 6 290
				.item-block
					.item-block__title размер
					.item-block__text Узкая 2 х 0,6 м
				.item-block
					.item-block__title СОСТАВ/МАТЕРИАЛ
					.item-block__text ПВХ пластик, стекло
				.item-block
					.item-block__title ПРОИЗВОДИТЕЛЬ/СТРАНА	
					.item-block__text Россия, Германия
				a.item__link.btn-yellow(href="#") Рассчитать стоимость
			form(action="#").item.item-form
				img.circle(src=img+"doors-types/circle.png", alt="")
				.item-form__title Трудно выбрать?
				.item-form__text Отправьте запрос на подбор пластиковых дверей
				.form-item
					input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
				.form-action
					button.form__btn.btn-dark(type="submit") перезвоните мне сейчас
				.form-item
					.form__text Нажимая на кнопку, вы даете согласие на
						a(href="http://", target="_blank", rel="noopener noreferrer") обработку своих персональных данных.
