footer.footer
	.container
		.top
			.column
				ul.menu-list
					li
						a(href="#") окна
					li
						a(href="#") Пластиковые окна
					li
						a(href="#") Окна Rehau
					li
						a(href="#") Алюминиевые окна
					li
						a(href="#") Остекление квартир
					li
						a(href="#") Остекление домов и коттеджей
					li
						a(href="#") Остекление веранд и террас
			.column
				ul.menu-list
					li
						a(href="#") Балконы
					li
						a(href="#") Остекление балконов
					li
						a(href="#") Холодное остекление
					li
						a(href="#") Теплое остекление
					li
						a(href="#") Ремонт балконов
					li
						a(href="#") Отделка балконов
			.column
				ul.menu-list
					li
						a(href="#") двери
					li
						a(href="#") Пластиковые двери
					li
						a(href="#") Алюминиевые двери
					li
						a(href="#") Раздвижные двери (порталы)
				ul.menu-list
					li
						a(href="#") Цены
					li
						a(href="#") Скачать прайс-лист
			.column
				ul.menu-list
					li
						a(href="#") контакты
					li
						a(href="#") О компании
					li
						a(href="#") Отзывы
					li
						a(href="#") Статьи
					li
						a(href="#") Сотрудничество
					li
						a(href="#") Акции
					li
						a(href="#") Калькулятор
		.bottom
			.left
				include _logo.pug
				img.mainlogo(src=img+"logo.png", alt="")
			.center
				.text <b>Способы оплаты</b> Наличный расчет | Безналичный расчет | Рассрочка 0% | Online-оплата
				.payment
					img(src=img+"payment-logos/mir.png", alt="")
					img(src=img+"payment-logos/visa.png", alt="")
					img(src=img+"payment-logos/mastercard.png", alt="")
					img(src=img+"payment-logos/paykeeper.png", alt="")
				.text Реквизиты компании  ООО «ОкноБер»: ОГРН: 1195050003312 | ИНН: 5038140292 | КПП: 503801001 <br><br> © «Оконный рай», 2000–2020
			.right
				include _mini-search.pug
				ul.tels
					li
						a(href="tel:+74951280377") +7 (495) 128-03-77
				.infotext C 09:00 по 22:00 без выходных


