section.glazing-works
	img.circle1(src=img+"glazing-works/circle1.png", alt="")
	img.circle2(src=img+"glazing-works/circle2.png", alt="")
	img.circle3(src=img+"glazing-works/circle3.png", alt="")
	.container
		.block-title работы, производимые при остеклении <br> домов и коттеджей
		.top
			.top-left
				.top-left__title Получите <br> скидку
					.percent 52%
				.top-left__text при заказе более 15 м2
				ul.action
					li
						a.btn-white(href="#") рассчитать
					li
						a.btn-yellow(href="#") вызвать замер
			.top-right
				.top-right-left
					img.top__img(src=img+"glazing-works/img.jpg", alt="")
					.top-price
						.top-price__title Цена Остекления дома под ключ
						.top-price__num от <b>2 890 ₽</b>/кв.м (вместо 4 365 р.)
				.top-right-right
					.text-container
						h3
							span Остекление дома под ключ
						p Компания «ОкноБер» выполняет остекление дачных домов пластиковыми окнами под ключ в Москве и Подмосковье. На правах официального партнера мы закупаем продукцию напрямую у завода-производителя, поэтому наши цены ниже, чем у конкурентов, а качество комплектующих не вызывает сомнений.
						p Компания «ОкноБер» готова обеспечить оперативное выполнение проекта и подготовить ваш дачный дом к новому сезону – для этого у нас достаточно технических и рабочих ресурсов
					.top-list
						.top-item
							.top-item-icon
								img.tor-item__icon(src=img+"glazing-works/icon1.svg", alt="")
							.top-item__text Бесплатный <br> замер
						.top-item
							.top-item-icon
								img.tor-item__icon(src=img+"glazing-works/icon2.svg", alt="")
							.top-item__text Контроль <br> качества
						.top-item
							.top-item-icon
								img.tor-item__icon(src=img+"glazing-works/icon3.svg", alt="")
							.top-item__text Гарантия <br> 5 лет
						.top-item
							.top-item-icon
								img.tor-item__icon(src=img+"glazing-works/icon4.svg", alt="")
							.top-item__text Монтаж <br> по ГОСТу
		.bottom
			img.bottom__home(src=img+"glazing-works/home.png", alt="")
			.bottom-list
				.bottom-item
					.bottom-item__text Раздвижные <br> окна и двери
					.bottom-item-icon
						img(src=img+"glazing-works/icon5.svg", alt="")
				.bottom-item
					.bottom-item-icon
						img(src=img+"glazing-works/icon6.svg", alt="")
					.bottom-item__text Безрамное <br> остекление
				.bottom-item
					.bottom-item__text Алюминиевое <br> остекление
					.bottom-item-icon
						img(src=img+"glazing-works/icon7.svg", alt="")
				.bottom-item
					.bottom-item-icon
						img(src=img+"glazing-works/icon8.svg", alt="")
					.bottom-item__text Входные группы <br> и двери
				.bottom-item
					.bottom-item__text Пластиковые <br> окна
					.bottom-item-icon
						img(src=img+"glazing-works/icon9.svg", alt="")
				.bottom-item
					.bottom-item-icon
						img(src=img+"glazing-works/icon10.svg", alt="")
					.bottom-item__text Деревянные <br> окна

