section.includes
	.container
		.block-title ЧТО ВКЛЮЧАЕТ В СЕБЯ РЕМОНТ <br> БАЛКОНОВ ПОД КЛЮЧ?
		.inner
			.includes-left
				.item
					.item-icon
						img.item__icon(src=img+"includes/icon1.svg", alt="")
					.item__text Остекление балкона
				.item
					.item-icon
						img.item__icon(src=img+"includes/icon2.svg", alt="")
					.item__text Объединение комнаты <br> и балкона
				.item
					.item-icon
						img.item__icon(src=img+"includes/icon3.svg", alt="")
					.item__text Вынос балкона
				.item
					.item-icon
						img.item__icon(src=img+"includes/icon4.svg", alt="")
					.item__text Укладка пола
				.item
					.item-icon
						img.item__icon(src=img+"includes/icon5.svg", alt="")
					.item__text Кладка стен
				.item
					.item-icon
						img.item__icon(src=img+"includes/icon6.svg", alt="")
					.item__text Монтаж крыши балкона
				.item
					.item-icon
						img.item__icon(src=img+"includes/icon7.svg", alt="")
					.item__text Отделка и облицовка
				.item
					.item-icon
						img.item__icon(src=img+"includes/icon8.svg", alt="")
					.item__text Монтаж встроенной <br> мебели
				.item
					.item-icon
						img.item__icon(src=img+"includes/icon1.svg", alt="")
					.item__text И другие виды работ
			.includes-right
				img.includes__img(src=img+"includes/img.jpg", alt="")