section.prices
	img.circles2(src=img+"prices/circles2.png", alt="")
	.container
		.block-title Почему мы можем дать стоимость <br> дешевле, чем у 98% конкурентов
		img.circles1(src=img+"prices/circles1.png", alt="")
		.inner
			.inner-left
				img.arrow(src=img+"prices/arrow.svg", alt="")
				img.circles3(src=img+"prices/circles3.png", alt="")
				.inner__title Держим цены <br> 2019 года, а также:
				.items
					.item
						.item-icon
							img.item__img(src=img+"prices/discount.svg", alt="")
						.item-inner
							.item__text <b>Закупка дешевле,</b> <br> за счет большого объема <br> производства
					.item
						.item-icon
							img.item__img(src=img+"prices/time-management.svg", alt="")
						.item-inner
							.item__text <b>Экономия времени <br> сотрудников </b> благодаря <br> автоматической линии
					.item
						.item-icon
							img.item__img(src=img+"prices/money.svg", alt="")
						.item-inner
							.item__text <b>Небольшие затраты на <br> маркетинг,</b> рекламу и <br> аренду офисов
				a.btn-dark(href="#") отправить заявку
			.inner-right
				.me
					.table
						.table-column
							.table-td
								.table__text Цена окна:
							.table-td
								.table__text Стоимость профиля:
							.table-td
								.table__text Производитель профиля:
							.table-td
								.table__text Качество окон:
							.table-td
								.table__text Стеклопакет:
							.table-td
								.table__text Гарантия:
					.table.active
						.table-column
							.table-td
								.table__bigtitle Оконный рай
								.table__title (наша компания)
								.table__bigprice 8 564 ₽ 
							.table-td
								.table__price 2 000 ₽
							.table-td
								.table__text Германия
							.table-td
								ul.stars
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
							.table-td
								.table__text 3 стекла
							.table-td
								.table__text 7 лет на все
				.all
					.table
						.table-column
							.table-td
								.table__title Диллеры по окнам
								.table__price 9 352 ₽
							.table-td
								.table__price 1 980 ₽
							.table-td
								.table__text Германия
							.table-td
								ul.stars
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star2.svg", alt="")
							.table-td
								.table__text 3 стекла
							.table-td
								.table__text 2 года на окна <br> 1 год на фурнитуру
					.table
						.table-column
							.table-td
								.table__title Диллеры по окнам
								.table__price 9 352 ₽
							.table-td
								.table__price 1 980 ₽
							.table-td
								.table__text Германия
							.table-td
								ul.stars
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star2.svg", alt="")
							.table-td
								.table__text 3 стекла
							.table-td
								.table__text 2 года на окна <br> 1 год на фурнитуру
					.table
						.table-column
							.table-td
								.table__title Диллеры по окнам
								.table__price 9 352 ₽
							.table-td
								.table__price 1 980 ₽
							.table-td
								.table__text Германия
							.table-td
								ul.stars
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star2.svg", alt="")
							.table-td
								.table__text 3 стекла
							.table-td
								.table__text 2 года на окна <br> 1 год на фурнитуру
					.table
						.table-column
							.table-td
								.table__title Диллеры по окнам
								.table__price 9 352 ₽
							.table-td
								.table__price 1 980 ₽
							.table-td
								.table__text Германия
							.table-td
								ul.stars
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star.svg", alt="")
									li
										img(src=img+"icons/star2.svg", alt="")
							.table-td
								.table__text 3 стекла
							.table-td
								.table__text 2 года на окна <br> 1 год на фурнитуру


