section.qa.type2
	.container
		.block-title термоокна Rehau надежнее, безопаснее <br> и долговечнее аналогов
		.inner.tabs
			ul
				li
					a(href="#tab1") Срок службы - 50 лет
				li
					a(href="#tab2") Полный комплект сертификатов
				li
					a(href="#tab3") Теплоизоляция
				li
					a(href="#tab4") Экологичность
				li
					a(href="#tab5") Звукоизоляция
				li
					a(href="#tab6") Прозрачность
				li
					a(href="#tab7") Стойкость к Уф-лучам
				li
					a(href="#tab8") Отсутстие оптического искажения
				li
					a(href="#tab9") Немецкая фурнитура
			.tab#tab1
				.tab__title Теплоизоляция
				.text-container
					img(src=img+"qa/window.jpg", alt="")
					p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
					p Большее количество полостей воздуха, служит дополнительной преградой между внешним миром, и вашим домом. Также, это придает окнам, более высокий уровень шумоизоляции, за счет наличия полых пространств. Вторым бесспорным плюсом, стало сужение профиля окон. Благодаря этому, высота пластика стала меньше, а значит, в помещение будет проходить большее количество солнечного света.
			.tab#tab2
				.tab__title Теплоизоляция
				.text-container
					img(src=img+"qa/window.jpg", alt="")
					p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
			.tab#tab3
				.tab__title Теплоизоляция
				.text-container
					img(src=img+"qa/window.jpg", alt="")
					p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции.
			.tab#tab4
				.tab__title Теплоизоляция
				.text-container
					img(src=img+"qa/window.jpg", alt="")
					p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
					p Большее количество полостей воздуха, служит дополнительной преградой между внешним миром, и вашим домом. Также, это придает окнам, более высокий уровень шумоизоляции, за счет наличия полых пространств. Вторым бесспорным плюсом, стало сужение профиля окон. Благодаря этому, высота пластика стала меньше, а значит, в помещение будет проходить большее количество солнечного света.
			.tab#tab5
				.tab__title Теплоизоляция
				.text-container
					img(src=img+"qa/window.jpg", alt="")
					p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
					p Большее количество полостей воздуха, служит дополнительной преградой между внешним миром, и вашим домом. Также, это придает окнам, более высокий уровень шумоизоляции, за счет наличия полых пространств. Вторым бесспорным плюсом, стало сужение профиля окон. Благодаря этому, высота пластика стала меньше, а значит, в помещение будет проходить большее количество солнечного света.
			.tab#tab6
				.tab__title Теплоизоляция
				.text-container
					img(src=img+"qa/window.jpg", alt="")
					p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
					p Большее количество полостей воздуха, служит дополнительной преградой между внешним миром, и вашим домом. Также, это придает окнам, более высокий уровень шумоизоляции, за счет наличия полых пространств. Вторым бесспорным плюсом, стало сужение профиля окон. Благодаря этому, высота пластика стала меньше, а значит, в помещение будет проходить большее количество солнечного света.
			.tab#tab7
				.tab__title Теплоизоляция
				.text-container
					img(src=img+"qa/window.jpg", alt="")
					p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
			.tab#tab8
				.tab__title Теплоизоляция
				.text-container
					img(src=img+"qa/window.jpg", alt="")
					p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
			.tab#tab9
				.tab__title Теплоизоляция
				.text-container
					img(src=img+"qa/window.jpg", alt="")
					p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.

