section.quality
	.container
		.block-title Какими качествами обладают наши <br> бригады монтажников?
		.inner
			img.man(src=img+"quality/man.png", alt="")
			img.circles(src=img+"quality/circles.png", alt="")
			.items
				.item
					.item-icon
						img(src=img+"quality/qualification.svg", alt="")
					.item-inner
						.item__title Квалификация
						.item__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
				.item
					.item-icon
						img(src=img+"quality/speed.svg", alt="")
					.item-inner
						.item__title Скорость выполнения
						.item__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
				.item
					.item-icon
						img(src=img+"quality/experience.svg", alt="")
					.item-inner
						.item__title Опыт работы
						.item__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
				.item
					.item-icon
						img(src=img+"quality/removal.svg", alt="")
					.item-inner
						.item__title Монтаж-демонтаж, вынос
						.item__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
				.item
					.item-icon
						img(src=img+"quality/cleanliness.svg", alt="")
					.item-inner
						.item__title Чистота и безопасность
						.item__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
				.item
					.item-icon
						img(src=img+"quality/cleaning.svg", alt="")
					.item-inner
						.item__title Уборка
						.item__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
				.item
					.item-icon
						img(src=img+"quality/covid.svg", alt="")
					.item-inner
						.item__title COVID-безопасность
						.item__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.
				.item
					.item-icon
						img(src=img+"quality/briefing.svg", alt="")
					.item-inner
						.item__title Инструктаж
						.item__text 3 варианта комплектации под ваш бюджет со скидкой 500 руб.



