section.reviews
	.container
		.block-title За 5 лет выполнено более 1200 установок окон
		.inner
			.slider-nav
				.slide
					img.slide__img(src=img+"reviews/vislouhova.jpg", alt="")
					.slide__name Вислоухова Жанна
					.slide__city Москва
				.slide
					img.slide__img(src=img+"reviews/ahmetova.jpg", alt="")
					.slide__name ахметова татьяна
					.slide__city Москва
				.slide
					img.slide__img(src=img+"reviews/malokyan.jpg", alt="")
					.slide__name ашот малокян
					.slide__city Москва
				.slide
					img.slide__img(src=img+"reviews/malokyan.jpg", alt="")
					.slide__name ашот малокян
					.slide__city Москва
			.slider-for
				.slide
					.slide-left
						img.slide__img(src=img+"reviews/img.jpg", alt="")
						.row
							.block
								.block__title тип работы
							.block
								.block__title Стоимость
								.price 120 480 ₽
					.slide-right
						.user
							img.user__img(src=img+"reviews/vislouhova.jpg", alt="")
							.user-inner
								.user__name Вислоухова Жанна
								.user__text Москва | Договор №Р-05081971
						.block.pd
							.block__title Выполненные работы
							ul.block-list
								li Демонтаж старых окон
								li Установка панорамных окон с ламинацией и шпросами
								li Уборка и вывоз мусора
						.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
						a.btn-yellow(href="#") хочу также
				.slide
					.slide-left
						img.slide__img(src=img+"reviews/img.jpg", alt="")
						.row
							.block
								.block__title тип работы
							.block
								.block__title Стоимость
								.price 120 480 ₽
					.slide-right
						.user
							img.user__img(src=img+"reviews/ahmetova.jpg", alt="")
							.user-inner
								.user__name Вислоухова Жанна
								.user__text Москва | Договор №Р-05081971
						.block.pd
							.block__title Выполненные работы
							ul.block-list
								li Демонтаж старых окон
								li Установка панорамных окон с ламинацией и шпросами
								li Уборка и вывоз мусора
						.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
						a.btn-yellow(href="#") хочу также
				.slide
					.slide-left
						img.slide__img(src=img+"reviews/img.jpg", alt="")
						.row
							.block
								.block__title тип работы
							.block
								.block__title Стоимость
								.price 120 480 ₽
					.slide-right
						.user
							img.user__img(src=img+"reviews/malokyan.jpg", alt="")
							.user-inner
								.user__name Вислоухова Жанна
								.user__text Москва | Договор №Р-05081971
						.block.pd
							.block__title Выполненные работы
							ul.block-list
								li Демонтаж старых окон
								li Установка панорамных окон с ламинацией и шпросами
								li Уборка и вывоз мусора
						.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
						a.btn-yellow(href="#") хочу также
				.slide
					.slide-left
						img.slide__img(src=img+"reviews/img.jpg", alt="")
						.row
							.block
								.block__title тип работы
							.block
								.block__title Стоимость
								.price 120 480 ₽
					.slide-right
						.user
							img.user__img(src=img+"reviews/vislouhova.jpg", alt="")
							.user-inner
								.user__name Вислоухова Жанна
								.user__text Москва | Договор №Р-05081971
						.block.pd
							.block__title Выполненные работы
							ul.block-list
								li Демонтаж старых окон
								li Установка панорамных окон с ламинацией и шпросами
								li Уборка и вывоз мусора
						.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
						a.btn-yellow(href="#") хочу также
				.slide
					.slide-left
						img.slide__img(src=img+"reviews/img.jpg", alt="")
						.row
							.block
								.block__title тип работы
							.block
								.block__title Стоимость
								.price 120 480 ₽
					.slide-right
						.user
							img.user__img(src=img+"reviews/malokyan.jpg", alt="")
							.user-inner
								.user__name Вислоухова Жанна
								.user__text Москва | Договор №Р-05081971
						.block.pd
							.block__title Выполненные работы
							ul.block-list
								li Демонтаж старых окон
								li Установка панорамных окон с ламинацией и шпросами
								li Уборка и вывоз мусора
						.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
						a.btn-yellow(href="#") хочу также

