section.services
	.container
		.block-title Ознакомьтесь с полным перечнем услуг, <br> производимых нашей компанией
		.inner
			.item
				img.item__img(src=img+"service/img1.jpg", alt="")
				.item-inner
					.item__title Теплое остекление
					.item__text Металлопластиковый профиль обеспечит <br> отличную тепло- и шумоизоляцию
					.item__price Цена от <span>3 519 ₽</span>/кв.м.
					ul.item-action
						li
							a.btn-dark(href="#") детальнее
						li
							a.btn-yellow(href="#") заказать
			.item
				img.item__img(src=img+"service/img2.jpg", alt="")
				.item-inner
					.item__title Холодное остекление
					.item__text Использование долговечной <br> алюминиевой раздвижной системы
					.item__price Цена от <span>2 545 ₽</span>/кв.м.
					ul.item-action
						li
							a.btn-dark(href="#") детальнее
						li
							a.btn-yellow(href="#") заказать
			.item
				img.item__img(src=img+"service/img3.jpg", alt="")
				.item-inner
					.item__title Панорамное остекление
					.item__text Красивое дизайнерское решение
					.item__price Цена от <span>5 010 ₽</span>/кв.м.
					ul.item-action
						li
							a.btn-dark(href="#") детальнее
						li
							a.btn-yellow(href="#") заказать
			.item
				img.item__img(src=img+"service/img4.jpg", alt="")
				.item-inner
					.item__title Устройство балкона <br> с выносом
					.item__price Цена от <span>2 500 ₽</span>/кв.м.
					ul.item-action
						li
							a.btn-dark(href="#") детальнее
						li
							a.btn-yellow(href="#") заказать
			.item
				img.item__img(src=img+"service/img5.jpg", alt="")
				.item-inner
					.item__title Устройство балкона <br> с кровлей
					.item__price Цена от <span>4 500 ₽</span>/кв.м.
					ul.item-action
						li
							a.btn-dark(href="#") детальнее
						li
							a.btn-yellow(href="#") заказать
			.item
				img.item__img(src=img+"service/img6.jpg", alt="")
				.item-inner
					.item__title Устройство балкона <br> ППУ
					.item__price Цена от <span>2 000 ₽</span>/кв.м.
					ul.item-action
						li
							a.btn-dark(href="#") детальнее
						li
							a.btn-yellow(href="#") заказать
			.item
				img.item__img(src=img+"service/img7.jpg", alt="")
				.item-inner
					.item__title Отделка балкона
					.item__text Привлекательный внешний вид на любой <br> вкус
					.item__price Цена от <span>1 300 ₽</span>/кв.м.
					ul.item-action
						li
							a.btn-dark(href="#") детальнее
						li
							a.btn-yellow(href="#") заказать



