section.service-works
	.container
		.block-title работы, которые могут входить <br> в выбранную услугу
		.inner
			.item
				img.item__img(src=img+"service-works/img1.jpg", alt="")
				.item-inner
					.item__title Балкон с выносом
					.item__text Метод позволяет существенно увеличивать площадь. Для маленьких и неостекленных балконов это замечательный способ создать просторной, уютное и теплое помещение.
			.item
				img.item__img(src=img+"service-works/img2.jpg", alt="")
				.item-inner
					.item__title Монтаж крыши
					.item__text Грамотно установленная крыша с правильно подобранным покрытием надежно защитит балкон от воздействия атмосферных явлений и попадания посторонних предметов.
			.item
				img.item__img(src=img+"service-works/img3.jpg", alt="")
				.item-inner
					.item__title Внешняя отделка
					.item__text Наружная обшивка дополнит конструкцию и придаст эстетичный вид. К тому же внешняя отделка – это надежная защита парапета и монтажного шва от атмосферных воздействий.
			.item
				img.item__img(src=img+"service-works/img4.jpg", alt="")
				.item-inner
					.item__title Утепление балкона
					.item__text В комплексные работы по утеплению входят: гидроизоляция, обрешетка и обустройство теплого пола, внешние стены и потолок также утепляются посредством специально подобранных материалов.
			.item
				img.item__img(src=img+"service-works/img5.jpg", alt="")
				.item-inner
					.item__title Отделка стен
					.item__text Внутренняя обшивка балкона выполняется современными строительными материалами: вагонка, ПВХ панели, гипсокартон.
			.item
				img.item__img(src=img+"service-works/img6.jpg", alt="")
				.item-inner
					.item__title Отделка потолка
					.item__text Включает комплекс работ: гидроизоляция, установка электропроводки, непосредственно отделка осуществляется выбранным клиентом материалом: вагонка, гипсокартон или ПВХ.
			.item
				img.item__img(src=img+"service-works/img7.jpg", alt="")
				.item-inner
					.item__title Отделка пола
					.item__text Полы предварительно выравниваются и утепляются. Затем подбирается специальное покрытие: линолеум, ламинат или ковролин. После укладки материала устанавливаются плинтуса.
			.item
				img.item__img(src=img+"service-works/img8.jpg", alt="")
				.item-inner
					.item__title Тёплый пол
					.item__text Полы предварительно выравниваются и утепляются. Затем подбирается специальное покрытие: линолеум, ламинат или ковролин. После укладки материала устанавливаются плинтуса.
			.item
				img.item__img(src=img+"service-works/img9.jpg", alt="")
				.item-inner
					.item__title Укрепление парапета
					.item__text Перед установкой конструкции наши мастера оценят текущее состояние парапета. Если он нуждается в укреплении или замене, будут проведены соответствующие работы.
			.item
				img.item__img(src=img+"service-works/img10.jpg", alt="")
				.item-inner
					.item__title Электромонтажные работы
					.item__text Проведенное на балкон электричество позволит комфортно проводить время в помещении.
			.item
				img.item__img(src=img+"service-works/img11.jpg", alt="")
				.item-inner
					.item__title Встроенная мебель
					.item__text Встроенная мебель обеспечит эргономичность, сэкономит место и создаст комфортную домашнюю атмосферу на Вашем балконе.
			.item
				img.item__img(src=img+"service-works/img12.jpg", alt="")
				.item-inner
					.item__title Дополнительные услуги
					.item__text В зависимости от требований и пожеланий заказчика, сделаем балкон максимально функциональным: установим подоконники, добавим столешницы и сушилки.