section.window-calc
	.container
		.block-title Рассчитай стоимость самостоятельно
		.w-calc
			.w-calc-size
				.w-calc-row
					.column
						.w-slider-label
							input.w-slider-input(type="number", name="w-slider-height" value="1500")
							span высота, мм
						.w-slider.vertical
							.w-slider__handler.ui-slider-handle
					.img-wrap
						img.w-calc-size__img(src=img+"window-types/type1-1.png", alt="")
				.row
					.w-slider.horizontal
						.w-slider__handler.ui-slider-handle
					.w-slider-label
						input.w-slider-input(type="number", name="w-slider-height" value="1500")
						span высота, мм
			.w-calc-options
				.window-types
					.window-type
						.window-type-item.curr.active
							img.window-type__img(src=img+"window-types/type1-1.png", alt="")
						.window-type-list
							.window-type-item
								img.window-type__img(src=img+"window-types/type1-1.png", alt="")
							.window-type-item
								img.window-type__img(src=img+"window-types/type1-2.png", alt="")
							.window-type-item
								img.window-type__img(src=img+"window-types/type1-3.png", alt="")
					.window-type
						.window-type-item.curr
							img.window-type__img(src=img+"window-types/type2-1.png", alt="")
						.window-type-list
							.window-type-item
								img.window-type__img(src=img+"window-types/type2-1.png", alt="")
							.window-type-item
								img.window-type__img(src=img+"window-types/type2-2.png", alt="")
							.window-type-item
								img.window-type__img(src=img+"window-types/type2-3.png", alt="")
							.window-type-item
								img.window-type__img(src=img+"window-types/type2-4.png", alt="")
					.window-type
						.window-type-item.curr
							img.window-type__img(src=img+"window-types/type3-1.png", alt="")
						.window-type-list
							.window-type-item
								img.window-type__img(src=img+"window-types/type3-1.png", alt="")
							.window-type-item
								img.window-type__img(src=img+"window-types/type3-2.png", alt="")
							.window-type-item
								img.window-type__img(src=img+"window-types/type3-3.png", alt="")
					.window-type
						.window-type-item.curr
							img.window-type__img(src=img+"window-types/type4-1.png", alt="")
						.window-type-list
							.window-type-item
								img.window-type__img(src=img+"window-types/type4-1.png", alt="")
							.window-type-item
								img.window-type__img(src=img+"window-types/type4-2.png", alt="")




br
br
br
br
br