section.works-types
	.container
		.block-title ВИДЫ РАБОТ
		.inner
			.item
				img.item__img(src=img+"works-types/img1.jpg", alt="")
				.item__text Укрепление и ремонт существующего балконного парапета
			.item
				img.item__img(src=img+"works-types/img2.jpg", alt="")
				.item__text Изготовление нового парапета для балкона или лоджии
			.item
				img.item__img(src=img+"works-types/img3.jpg", alt="")
				.item__text Установка нового парапета с последующим ремонтом балконного основания
			.item
				img.item__img(src=img+"works-types/img4.jpg", alt="")
				.item__text Комплексный ремонт ветхого балкона со сдачей объекта под ключ
			.item
				img.item__img(src=img+"works-types/img5.jpg", alt="")
				.item__text Проведем демонтаж стены между балконом и окном для дальнейшего объединения.
			.item
				img.item__img(src=img+"works-types/img6.jpg", alt="")
				.item__text Демонтируем старые конструкции, укрепим основание балкона
			.item
				img.item__img(src=img+"works-types/img7.jpg", alt="")
				.item__text Демонтируем окна балкона и в любом помещении аккуратно и без лишнего мусора
			.item
				img.item__img(src=img+"works-types/img8.jpg", alt="")
				.item__text Проведем все необходимые работы до остекления и утепления балкона. Вывезем мусор