- var img = '../img/';

doctype
html
	include blocks/head.pug
		title
	body
		include blocks/header.pug

		main.page-container

			section.mainblock.glazing-balconies
				.container
					.left
						h1.mainblock__title <span class="yellow">ОСТЕКЛЕНИЕ БАЛКОНОВ</span> <br> <span class="mini">в москве и МО от 5 тыс.руб</span>
						.mainblock-protect
							img.mainblock-protect__icon(src=img+"icons/shield.svg", alt="")
							.mainblock-protect__text Закажите немецкие термоокна с защитой от холода и жары по цене обычных со скидкой до 50%
						.mainblock-delivery
							.mainblock-delivery-inner
								.mainblock-delivery__title Замер бесплатно!
								.mainblock-delivery__text Готовы выехать сейчас
							img.mainblock-delivery__icon(src=img+"icons/truck.svg", alt="")
						.list
							.list-item
								.list-item__title <span>10</span> %
								.list-item__text Предоплата
							.list-item
								.list-item__title до <span>40</span> лет
								.list-item__text Гарантия на профиль
							.list-item
								.list-item__title <span>7</span> дней в неделю
								.list-item__text Выезд специалистов на замер
					.right
						.form-bigtitle Получите <br> скидку
						form.form(action="#", method="post")
							.form-social
								label.radio(for="mainblock-radio-viber")
									input.radio__input(type="radio", name="radio" id="mainblock-radio-viber" value="viber")
									.radio__btn
										<svg viewBox="0 0 56 62" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M54.8872 35.7324C56.6772 20.6649 54.0272 11.1524 49.2472 6.84994L49.2497 6.84744C41.5347 -0.500061 15.4797 -1.58756 6.24971 7.17744C2.10471 11.4649 0.64471 17.7574 0.48471 25.5474C0.32471 33.3399 0.13471 47.9374 13.7372 51.8974H13.7497L13.7372 57.9449C13.7372 57.9449 13.6447 60.3949 15.2097 60.8874C16.9997 61.4674 17.8097 60.3299 23.3772 53.6799C32.6872 54.4874 39.8372 52.6374 40.6497 52.3674C42.5297 51.7374 53.1672 50.3299 54.8872 35.7324ZM24.2947 49.4249C24.2947 49.4249 18.4022 56.7724 16.5697 58.6799C15.9697 59.2999 15.3122 59.2424 15.3222 58.0124C15.3222 57.2049 15.3672 47.9724 15.3672 47.9724C3.83471 44.6674 4.51471 32.2374 4.63971 25.7349C4.76471 19.2299 5.95471 13.9024 9.46471 10.3149C17.5622 2.72244 40.4047 4.41994 46.2247 9.88994C53.3397 16.1974 50.8072 34.0174 50.8222 34.6249C49.3597 46.8099 40.7397 47.5824 39.1547 48.1099C38.4772 48.3349 32.1897 49.9524 24.2947 49.4249Z"/>
										<path d="M27.5547 11.7425C26.5922 11.7425 26.5922 13.2425 27.5547 13.255C35.0222 13.3125 41.1722 18.5175 41.2397 28.065C41.2397 29.0725 42.7147 29.06 42.7022 28.0525H42.6997C42.6197 17.765 35.9047 11.8 27.5547 11.7425Z"/>
										<path d="M37.3772 26.4824C37.3547 27.4774 38.8272 27.5249 38.8397 26.5174C38.9622 20.8449 35.4647 16.1724 28.8922 15.6799C27.9297 15.6099 27.8297 17.1224 28.7897 17.1924C34.4897 17.6249 37.4922 21.5149 37.3772 26.4824Z"/>
										<path d="M35.8022 32.935C34.5672 32.22 33.3097 32.665 32.7897 33.3675L31.7022 34.775C31.1497 35.49 30.1172 35.395 30.1172 35.395C22.5822 33.4025 20.5672 25.5175 20.5672 25.5175C20.5672 25.5175 20.4747 24.45 21.1647 23.8775L22.5247 22.7525C23.2047 22.2125 23.6347 20.9125 22.9422 19.635C21.0922 16.2925 19.8497 15.14 19.2172 14.255C18.5522 13.4225 17.5522 13.235 16.5122 13.7975H16.4897C14.3272 15.0625 11.9597 17.43 12.7172 19.8675C14.0097 22.4375 16.3847 30.63 23.9547 36.82C27.5122 39.7475 33.1422 42.7475 35.5322 43.44L35.5547 43.475C37.9097 44.26 40.1997 41.8 41.4222 39.5725V39.555C41.9647 38.4775 41.7847 37.4575 40.9922 36.79C39.5872 35.42 37.4672 33.9075 35.8022 32.935Z"/>
										<path d="M29.9222 21.2599C32.3247 21.3999 33.4897 22.6549 33.6147 25.2324C33.6597 26.2399 35.1222 26.1699 35.0772 25.1624C34.9172 21.7974 33.1622 19.9224 30.0022 19.7474C29.0397 19.6899 28.9497 21.2024 29.9222 21.2599Z"/>
										</svg>
										.radio__text VIBER
								label.radio(for="mainblock-radio-telegram")
									input.radio__input(type="radio", name="radio" id="mainblock-radio-telegram" value="telegram")
									.radio__btn
										<svg viewBox="0 0 60 50" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M23.5429 32.9525L22.5504 46.9125C23.9704 46.9125 24.5854 46.3025 25.3229 45.57L31.9804 39.2075L45.7754 49.31C48.3054 50.72 50.0879 49.9775 50.7704 46.9825L59.8254 4.55248L59.8279 4.54998C60.6304 0.809976 58.4754 -0.652524 56.0104 0.264976L2.78544 20.6425C-0.847055 22.0525 -0.792055 24.0775 2.16794 24.995L15.7754 29.2275L47.3829 9.44998C48.8704 8.46498 50.2229 9.00998 49.1104 9.99498L23.5429 32.9525Z"/>
										</svg>
										.radio__text TELEGRAM
								label.radio(for="mainblock-radio-whatsapp")
									input.radio__input(type="radio", name="radio" id="mainblock-radio-whatsapp" value="whatsapp")
									.radio__btn
										<svg width="57" height="58" viewBox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M47.8988 9.02022C42.6363 3.75159 35.6377 0.848793 28.1817 0.845703C12.818 0.845703 0.314201 13.3492 0.308022 28.717C0.305962 33.6296 1.5893 38.4251 4.02861 42.6521L0.0742188 57.0957L14.8505 53.2196C18.922 55.4405 23.5057 56.6109 28.1704 56.6123H28.1821C43.544 56.6123 56.0492 44.1078 56.0551 28.7393C56.0582 21.2913 53.1616 14.2885 47.8988 9.02022ZM28.1817 51.905H28.1721C24.0152 51.9033 19.9382 50.7861 16.3807 48.6757L15.5351 48.1734L6.76661 50.4737L9.10704 41.9246L8.55601 41.0481C6.23687 37.3594 5.01223 33.0961 5.01429 28.7187C5.0191 15.9454 15.4122 5.55334 28.191 5.55334C34.379 5.5554 40.196 7.96828 44.5699 12.3474C48.9438 16.7264 51.3512 22.5471 51.3492 28.7376C51.3437 41.5119 40.9513 51.905 28.1817 51.905ZM40.8895 34.5538C40.1932 34.205 36.7689 32.5207 36.1303 32.2879C35.4924 32.0555 35.0276 31.9398 34.5638 32.6367C34.0992 33.3336 32.7647 34.9026 32.3582 35.3671C31.9518 35.832 31.5459 35.8904 30.8493 35.5415C30.1527 35.1931 27.9088 34.4573 25.2484 32.0846C23.1781 30.2379 21.7805 27.9572 21.374 27.2603C20.9682 26.5626 21.3705 26.2221 21.6795 25.8389C22.4335 24.9027 23.1884 23.9211 23.4205 23.4566C23.6529 22.9917 23.5366 22.5849 23.3622 22.2364C23.1884 21.888 21.7956 18.4599 21.2154 17.065C20.6496 15.7075 20.0759 15.8908 19.6481 15.8695C19.2423 15.8492 18.7778 15.8451 18.3132 15.8451C17.8491 15.8451 17.0945 16.0192 16.4559 16.7168C15.8176 17.4141 14.0186 19.0988 14.0186 22.5269C14.0186 25.955 16.5142 29.2666 16.8624 29.7315C17.2105 30.1964 21.7736 37.231 28.7599 40.2475C30.4216 40.9657 31.7186 41.3938 32.7304 41.7148C34.399 42.2449 35.9168 42.1701 37.117 41.9909C38.4553 41.7907 41.2373 40.3058 41.8182 38.6792C42.3984 37.0522 42.3984 35.6579 42.224 35.3671C42.0503 35.0767 41.5857 34.9026 40.8895 34.5538Z"/>
										</svg>
										.radio__text WHATSAPP
							.form-item
								input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
							.form-action
								button.form__btn.btn-yellow(type="submit") отправить заявку
							.form-item
								.form__text Нажимая на кнопку, вы даете согласие на
									a(href="http://", target="_blank", rel="noopener noreferrer") обработку своих персональных данных.

			include blocks/quiz.pug

			section.balconies-glazing-types
				img.circle1(src=img+"balconies-glazing-types/circle1.png", alt="")
				img.circle2(src=img+"balconies-glazing-types/circle2.png", alt="")
				img.circle3(src=img+"balconies-glazing-types/circle3.png", alt="")
				.container
					.block-title Ознакомьтесь, чем отличаются типы остекления, <br> которые мы выполняем
					.inner.tabs
						ul.tabs-list
							li
								a.anchor(href="#balconies-glazing-types-tab1") ТЕПЛОЕ ОСТЕКЛЕНИЕ
							li
								a.anchor(href="#balconies-glazing-types-tab2") ХОЛОДНОЕ ОСТЕКЛЕНИЕ
							li
								a.anchor(href="#balconies-glazing-types-tab3") БЕЗРАМНОЕ ОСТЕКЛЕНИЕ
						.tab#balconies-glazing-types-tab1 
							.tab-left
								.tab__title ТЕПЛОЕ ОСТЕКЛЕНИЕ
								.tab__text Задача этой конструкции – обеспечить надежную защиту от уличной пыли и осадков. Холодное остекление позволяет воплощать самые неординарные дизайнерские задумки и стильно оформлять балконы. «Холодный» профиль используется в тех случаях, если балкон не требуется оборудовать под полноценную жилую комнату. Конструкция позволяет визуально расширить пространство и делает балкон эстетически привлекательным.
								img.tab__img(src=img+"balconies-glazing-types/img.jpg", alt="")
							.tab-right
								.tab__subtitle Профили холодного остекления
								.card
									img.card__img(src=img+"balconies-glazing-types/w1.png", alt="")
									.card__title PROVEDAL P400
									.card__price от <span>3 400 ₽</span>/кв.м
									.card-block
										.card-block__title ширина
										.card-block__text 40 мм, 60 мм
									.card-block
										.card-block__title высота рамы
										.card-block__text 37 мм
									.card-block
										.card-block__title высота со створкой
										.card-block__text 78 мм
									.card-block
										.card-block__title толщина стекл
										.card-block__text до 5 мм
									a.card__btn.btn-yellow(href="#") заказать
								.card
									img.card__img(src=img+"balconies-glazing-types/w2.png", alt="")
									.card__title PROVEDAL P400
									.card__price от <span>3 400 ₽</span>/кв.м
									.card-block
										.card-block__title ширина
										.card-block__text 40 мм, 60 мм
									.card-block
										.card-block__title высота рамы
										.card-block__text 37 мм
									.card-block
										.card-block__title высота со створкой
										.card-block__text 78 мм
									.card-block
										.card-block__title толщина стекл
										.card-block__text до 5 мм
									a.card__btn.btn-yellow(href="#") заказать
						.tab#balconies-glazing-types-tab2
							.tab-left
								.tab__title ХОЛОДНОЕ ОСТЕКЛЕНИЕ
								.tab__text Задача этой конструкции – обеспечить надежную защиту от уличной пыли и осадков. Холодное остекление позволяет воплощать самые неординарные дизайнерские задумки и стильно оформлять балконы. «Холодный» профиль используется в тех случаях, если балкон не требуется оборудовать под полноценную жилую комнату. Конструкция позволяет визуально расширить пространство и делает балкон эстетически привлекательным.
								img.tab__img(src=img+"balconies-glazing-types/img.jpg", alt="")
							.tab-right
								.tab__subtitle Профили холодного остекления
								.card
									img.card__img(src=img+"balconies-glazing-types/w1.png", alt="")
									.card__title PROVEDAL P400
									.card__price от <span>3 400 ₽</span>/кв.м
									.card-block
										.card-block__title ширина
										.card-block__text 40 мм, 60 мм
									.card-block
										.card-block__title высота рамы
										.card-block__text 37 мм
									.card-block
										.card-block__title высота со створкой
										.card-block__text 78 мм
									.card-block
										.card-block__title толщина стекл
										.card-block__text до 5 мм
									a.card__btn.btn-yellow(href="#") заказать
								.card
									img.card__img(src=img+"balconies-glazing-types/w2.png", alt="")
									.card__title PROVEDAL P400
									.card__price от <span>3 400 ₽</span>/кв.м
									.card-block
										.card-block__title ширина
										.card-block__text 40 мм, 60 мм
									.card-block
										.card-block__title высота рамы
										.card-block__text 37 мм
									.card-block
										.card-block__title высота со створкой
										.card-block__text 78 мм
									.card-block
										.card-block__title толщина стекл
										.card-block__text до 5 мм
									a.card__btn.btn-yellow(href="#") заказать
						.tab#balconies-glazing-types-tab3
							.tab-left
								.tab__title БЕЗРАМНОЕ ОСТЕКЛЕНИЕ
								.tab__text Задача этой конструкции – обеспечить надежную защиту от уличной пыли и осадков. Холодное остекление позволяет воплощать самые неординарные дизайнерские задумки и стильно оформлять балконы. «Холодный» профиль используется в тех случаях, если балкон не требуется оборудовать под полноценную жилую комнату. Конструкция позволяет визуально расширить пространство и делает балкон эстетически привлекательным.
								img.tab__img(src=img+"balconies-glazing-types/img.jpg", alt="")
							.tab-right
								.tab__subtitle Профили холодного остекления
								.card
									img.card__img(src=img+"balconies-glazing-types/w1.png", alt="")
									.card__title PROVEDAL P400
									.card__price от <span>3 400 ₽</span>/кв.м
									.card-block
										.card-block__title ширина
										.card-block__text 40 мм, 60 мм
									.card-block
										.card-block__title высота рамы
										.card-block__text 37 мм
									.card-block
										.card-block__title высота со створкой
										.card-block__text 78 мм
									.card-block
										.card-block__title толщина стекл
										.card-block__text до 5 мм
									a.card__btn.btn-yellow(href="#") заказать
								.card
									img.card__img(src=img+"balconies-glazing-types/w2.png", alt="")
									.card__title PROVEDAL P400
									.card__price от <span>3 400 ₽</span>/кв.м
									.card-block
										.card-block__title ширина
										.card-block__text 40 мм, 60 мм
									.card-block
										.card-block__title высота рамы
										.card-block__text 37 мм
									.card-block
										.card-block__title высота со створкой
										.card-block__text 78 мм
									.card-block
										.card-block__title толщина стекл
										.card-block__text до 5 мм
									a.card__btn.btn-yellow(href="#") заказать
						

			//- balcony-project
			include blocks/additions.pug
			//- color-solutions

			section.balcony-glazing-cost
				img.circle1(src=img+"balcony-glazing-cost/circle1.png", alt="")
				img.circle2(src=img+"balcony-glazing-cost/circle2.png", alt="")
				img.circle3(src=img+"balcony-glazing-cost/circle3.png", alt="")
				.container
					.block-title посмотрите предварительную стоимость <br> остекления балкона
					.inner
						.item
							.item__title ЛОДЖИЯ
							img.item__img(src=img+"balcony-glazing-cost/img1.jpg", alt="")
							ul.item-list
								li
									span Rehau
									span.item-list__price от <span>11 200 ₽</span>
								li
									span Melke
									span.item-list__price от <span>10 600 ₽</span>
								li
									span KBE
									span.item-list__price от <span>10 100 ₽</span>
								li
									span Provedal P400
									span.item-list__price от <span>9 200 ₽</span>
								li
									span Provedal C640
									span.item-list__price от <span>7 100 ₽</span>
							a.item__btn.btn-yellow(href="#") заказать остекление
						.item
							.item__title КАБЛУК
							img.item__img(src=img+"balcony-glazing-cost/img2.jpg", alt="")
							ul.item-list
								li
									span Rehau
									span.item-list__price от <span>11 200 ₽</span>
								li
									span Melke
									span.item-list__price от <span>10 600 ₽</span>
								li
									span KBE
									span.item-list__price от <span>10 100 ₽</span>
								li
									span Provedal P400
									span.item-list__price от <span>9 200 ₽</span>
								li
									span Provedal C640
									span.item-list__price от <span>7 100 ₽</span>
							a.item__btn.btn-yellow(href="#") заказать остекление
						.item
							.item__title П - ОБРАЗНЫЙ БАЛКОН
							img.item__img(src=img+"balcony-glazing-cost/img3.jpg", alt="")
							ul.item-list
								li
									span Rehau
									span.item-list__price от <span>11 200 ₽</span>
								li
									span Melke
									span.item-list__price от <span>10 600 ₽</span>
								li
									span KBE
									span.item-list__price от <span>10 100 ₽</span>
								li
									span Provedal P400
									span.item-list__price от <span>9 200 ₽</span>
								li
									span Provedal C640
									span.item-list__price от <span>7 100 ₽</span>
							a.item__btn.btn-yellow(href="#") заказать остекление
						.item
							.item__title УГЛОВОЙ БАЛКОН
							img.item__img(src=img+"balcony-glazing-cost/img4.jpg", alt="")
							ul.item-list
								li
									span Rehau
									span.item-list__price от <span>11 200 ₽</span>
								li
									span Melke
									span.item-list__price от <span>10 600 ₽</span>
								li
									span KBE
									span.item-list__price от <span>10 100 ₽</span>
								li
									span Provedal P400
									span.item-list__price от <span>9 200 ₽</span>
								li
									span Provedal C640
									span.item-list__price от <span>7 100 ₽</span>
							a.item__btn.btn-yellow(href="#") заказать остекление
					ul.action
						li
							a.btn-dark(href="#") рассчитать точную стоимость

			include blocks/service.pug
			include blocks/service-works.pug

			section.catalog-banner
				img.circles(src=img+"catalog-banner/circles.png", alt="")
				.container
					img.circles2(src=img+"catalog-banner/circles2.png", alt="")
					.block-title скачайте бесплатный каталог с детальным <br> описанием всех работ по остеклению балконов
					.inner
						img.window1(src=img+"catalog-banner/window1.png", alt="")
						img.window2(src=img+"catalog-banner/window2.png", alt="")
						.mocup
							img.arrow(src=img+"catalog-banner/arrow.svg", alt="")
							img.book(src=img+"catalog-banner/book.png", alt="")
							img.circles3(src=img+"catalog-banner/circles3.png", alt="")
						.form-wrap
							.form-title Как Вам удобнее получить варианты?
							form.form(action="#", method="post")
								.form-social
									label.radio(for="radio-viber")
										input.radio__input(type="radio", name="radio" id="radio-viber" value="viber")
										.radio__btn
											<svg viewBox="0 0 56 62" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M54.8872 35.7324C56.6772 20.6649 54.0272 11.1524 49.2472 6.84994L49.2497 6.84744C41.5347 -0.500061 15.4797 -1.58756 6.24971 7.17744C2.10471 11.4649 0.64471 17.7574 0.48471 25.5474C0.32471 33.3399 0.13471 47.9374 13.7372 51.8974H13.7497L13.7372 57.9449C13.7372 57.9449 13.6447 60.3949 15.2097 60.8874C16.9997 61.4674 17.8097 60.3299 23.3772 53.6799C32.6872 54.4874 39.8372 52.6374 40.6497 52.3674C42.5297 51.7374 53.1672 50.3299 54.8872 35.7324ZM24.2947 49.4249C24.2947 49.4249 18.4022 56.7724 16.5697 58.6799C15.9697 59.2999 15.3122 59.2424 15.3222 58.0124C15.3222 57.2049 15.3672 47.9724 15.3672 47.9724C3.83471 44.6674 4.51471 32.2374 4.63971 25.7349C4.76471 19.2299 5.95471 13.9024 9.46471 10.3149C17.5622 2.72244 40.4047 4.41994 46.2247 9.88994C53.3397 16.1974 50.8072 34.0174 50.8222 34.6249C49.3597 46.8099 40.7397 47.5824 39.1547 48.1099C38.4772 48.3349 32.1897 49.9524 24.2947 49.4249Z"/>
											<path d="M27.5547 11.7425C26.5922 11.7425 26.5922 13.2425 27.5547 13.255C35.0222 13.3125 41.1722 18.5175 41.2397 28.065C41.2397 29.0725 42.7147 29.06 42.7022 28.0525H42.6997C42.6197 17.765 35.9047 11.8 27.5547 11.7425Z"/>
											<path d="M37.3772 26.4824C37.3547 27.4774 38.8272 27.5249 38.8397 26.5174C38.9622 20.8449 35.4647 16.1724 28.8922 15.6799C27.9297 15.6099 27.8297 17.1224 28.7897 17.1924C34.4897 17.6249 37.4922 21.5149 37.3772 26.4824Z"/>
											<path d="M35.8022 32.935C34.5672 32.22 33.3097 32.665 32.7897 33.3675L31.7022 34.775C31.1497 35.49 30.1172 35.395 30.1172 35.395C22.5822 33.4025 20.5672 25.5175 20.5672 25.5175C20.5672 25.5175 20.4747 24.45 21.1647 23.8775L22.5247 22.7525C23.2047 22.2125 23.6347 20.9125 22.9422 19.635C21.0922 16.2925 19.8497 15.14 19.2172 14.255C18.5522 13.4225 17.5522 13.235 16.5122 13.7975H16.4897C14.3272 15.0625 11.9597 17.43 12.7172 19.8675C14.0097 22.4375 16.3847 30.63 23.9547 36.82C27.5122 39.7475 33.1422 42.7475 35.5322 43.44L35.5547 43.475C37.9097 44.26 40.1997 41.8 41.4222 39.5725V39.555C41.9647 38.4775 41.7847 37.4575 40.9922 36.79C39.5872 35.42 37.4672 33.9075 35.8022 32.935Z"/>
											<path d="M29.9222 21.2599C32.3247 21.3999 33.4897 22.6549 33.6147 25.2324C33.6597 26.2399 35.1222 26.1699 35.0772 25.1624C34.9172 21.7974 33.1622 19.9224 30.0022 19.7474C29.0397 19.6899 28.9497 21.2024 29.9222 21.2599Z"/>
											</svg>
											.radio__text VIBER
									label.radio(for="radio-telegram")
										input.radio__input(type="radio", name="radio" id="radio-telegram" value="telegram")
										.radio__btn
											<svg viewBox="0 0 60 50" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M23.5429 32.9525L22.5504 46.9125C23.9704 46.9125 24.5854 46.3025 25.3229 45.57L31.9804 39.2075L45.7754 49.31C48.3054 50.72 50.0879 49.9775 50.7704 46.9825L59.8254 4.55248L59.8279 4.54998C60.6304 0.809976 58.4754 -0.652524 56.0104 0.264976L2.78544 20.6425C-0.847055 22.0525 -0.792055 24.0775 2.16794 24.995L15.7754 29.2275L47.3829 9.44998C48.8704 8.46498 50.2229 9.00998 49.1104 9.99498L23.5429 32.9525Z"/>
											</svg>
											.radio__text TELEGRAM
									label.radio(for="radio-whatsapp")
										input.radio__input(type="radio", name="radio" id="radio-whatsapp" value="whatsapp")
										.radio__btn
											<svg viewBox="0 0 57 58" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M47.8988 9.02022C42.6363 3.75159 35.6377 0.848793 28.1817 0.845703C12.818 0.845703 0.314201 13.3492 0.308022 28.717C0.305962 33.6296 1.5893 38.4251 4.02861 42.6521L0.0742188 57.0957L14.8505 53.2196C18.922 55.4405 23.5057 56.6109 28.1704 56.6123H28.1821C43.544 56.6123 56.0492 44.1078 56.0551 28.7393C56.0582 21.2913 53.1616 14.2885 47.8988 9.02022ZM28.1817 51.905H28.1721C24.0152 51.9033 19.9382 50.7861 16.3807 48.6757L15.5351 48.1734L6.76661 50.4737L9.10704 41.9246L8.55601 41.0481C6.23687 37.3594 5.01223 33.0961 5.01429 28.7187C5.0191 15.9454 15.4122 5.55334 28.191 5.55334C34.379 5.5554 40.196 7.96828 44.5699 12.3474C48.9438 16.7264 51.3512 22.5471 51.3492 28.7376C51.3437 41.5119 40.9513 51.905 28.1817 51.905ZM40.8895 34.5538C40.1932 34.205 36.7689 32.5207 36.1303 32.2879C35.4924 32.0555 35.0276 31.9398 34.5638 32.6367C34.0992 33.3336 32.7647 34.9026 32.3582 35.3671C31.9518 35.832 31.5459 35.8904 30.8493 35.5415C30.1527 35.1931 27.9088 34.4573 25.2484 32.0846C23.1781 30.2379 21.7805 27.9572 21.374 27.2603C20.9682 26.5626 21.3705 26.2221 21.6795 25.8389C22.4335 24.9027 23.1884 23.9211 23.4205 23.4566C23.6529 22.9917 23.5366 22.5849 23.3622 22.2364C23.1884 21.888 21.7956 18.4599 21.2154 17.065C20.6496 15.7075 20.0759 15.8908 19.6481 15.8695C19.2423 15.8492 18.7778 15.8451 18.3132 15.8451C17.8491 15.8451 17.0945 16.0192 16.4559 16.7168C15.8176 17.4141 14.0186 19.0988 14.0186 22.5269C14.0186 25.955 16.5142 29.2666 16.8624 29.7315C17.2105 30.1964 21.7736 37.231 28.7599 40.2475C30.4216 40.9657 31.7186 41.3938 32.7304 41.7148C34.399 42.2449 35.9168 42.1701 37.117 41.9909C38.4553 41.7907 41.2373 40.3058 41.8182 38.6792C42.3984 37.0522 42.3984 35.6579 42.224 35.3671C42.0503 35.0767 41.5857 34.9026 40.8895 34.5538Z"/>
											</svg>
											.radio__text WHATSAPP
								.form-item
									input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
								.form-action
									button.btn-dark.form__btn(type="submit") отправить заявку
								.form-item
									.form__text Нажимая на кнопку, вы даете согласие на
										a(href="http://", target="_blank", rel="noopener noreferrer") обработку своих персональных данных.

			section.qa.type2
				.container
					.block-title наши балконы надежнее, безопаснее <br> и долговечнее аналогов
					.inner.tabs
						ul
							li
								a.anchor(href="#qa2-tab1") Срок службы - 50 лет
							li
								a.anchor(href="#qa2-tab2") Полный комплект сертификатов
							li
								a.anchor(href="#qa2-tab3") Теплоизоляция
							li
								a.anchor(href="#qa2-tab4") Экологичность
							li
								a.anchor(href="#qa2-tab5") Звукоизоляция
							li
								a.anchor(href="#qa2-tab6") Прозрачность
							li
								a.anchor(href="#qa2-tab7") Стойкость к Уф-лучам
							li
								a.anchor(href="#qa2-tab8") Отсутстие оптического искажения
							li
								a.anchor(href="#qa2-tab9") Немецкая фурнитура
						.tab#qa2-tab1
							.tab__title Теплоизоляция
							.text-container
								img(src=img+"qa/window.jpg", alt="")
								p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
								p Большее количество полостей воздуха, служит дополнительной преградой между внешним миром, и вашим домом. Также, это придает окнам, более высокий уровень шумоизоляции, за счет наличия полых пространств. Вторым бесспорным плюсом, стало сужение профиля окон. Благодаря этому, высота пластика стала меньше, а значит, в помещение будет проходить большее количество солнечного света.
						.tab#qa2-tab2
							.tab__title Теплоизоляция
							.text-container
								img(src=img+"qa/window.jpg", alt="")
								p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
						.tab#qa2-tab3
							.tab__title Теплоизоляция
							.text-container
								img(src=img+"qa/window.jpg", alt="")
								p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции.
						.tab#qa2-tab4
							.tab__title Теплоизоляция
							.text-container
								img(src=img+"qa/window.jpg", alt="")
								p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
								p Большее количество полостей воздуха, служит дополнительной преградой между внешним миром, и вашим домом. Также, это придает окнам, более высокий уровень шумоизоляции, за счет наличия полых пространств. Вторым бесспорным плюсом, стало сужение профиля окон. Благодаря этому, высота пластика стала меньше, а значит, в помещение будет проходить большее количество солнечного света.
						.tab#qa2-tab5
							.tab__title Теплоизоляция
							.text-container
								img(src=img+"qa/window.jpg", alt="")
								p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
								p Большее количество полостей воздуха, служит дополнительной преградой между внешним миром, и вашим домом. Также, это придает окнам, более высокий уровень шумоизоляции, за счет наличия полых пространств. Вторым бесспорным плюсом, стало сужение профиля окон. Благодаря этому, высота пластика стала меньше, а значит, в помещение будет проходить большее количество солнечного света.
						.tab#qa2-tab6
							.tab__title Теплоизоляция
							.text-container
								img(src=img+"qa/window.jpg", alt="")
								p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
								p Большее количество полостей воздуха, служит дополнительной преградой между внешним миром, и вашим домом. Также, это придает окнам, более высокий уровень шумоизоляции, за счет наличия полых пространств. Вторым бесспорным плюсом, стало сужение профиля окон. Благодаря этому, высота пластика стала меньше, а значит, в помещение будет проходить большее количество солнечного света.
						.tab#qa2-tab7
							.tab__title Теплоизоляция
							.text-container
								img(src=img+"qa/window.jpg", alt="")
								p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
						.tab#qa2-tab8
							.tab__title Теплоизоляция
							.text-container
								img(src=img+"qa/window.jpg", alt="")
								p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.
						.tab#qa2-tab9
							.tab__title Теплоизоляция
							.text-container
								img(src=img+"qa/window.jpg", alt="")
								p Это не первая разработанная система, имеющая глубину профиля в 60-мм от фирмы Rehau. Но именно “Thermo-Design” обладает важными отличиями от остальных. Первым из них, можно отметить большее количество камер теплоизоляции. Здесь их четыре.

			section.q-banner.type2
				img.circle(src=img+"q-banner/circles.png", alt="")
				.container
					img.window(src=img+"q-banner/window2.png", alt="")
					img.girl(src=img+"q-banner/girl2.png", alt="")
					.inner
						.block-title ПОЛУЧИТЕ КОНСУЛЬТАЦИЮ <br> И РАСЧЁТ СТОИМОСТИ <br> <span class="mini">по самым вкусным ценам!</span>
						.block-text Наши экспреты помогут ПОДОБРАТЬ ПОДХОДЯЩИЕ МАТЕРИАЛЫ И СОСТАВЯТ СМЕТУ индивидуально под Ваш бюджет!
						form.form(action="#" method="POST")
							input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
							button.form__btn.btn-dark(type="submit") отправить заявку
							label.checkbox(for="q-banner-checkbox")
								input.checkbox__input(type="checkbox", name="q-banner-checkbox" id="q-banner-checkbox" checked)
								.checkbox__text Я ознакомлен(а) и согласен(а) с 
									a(href="http://", target="_blank", rel="noopener noreferrer") правилами обработками моих персональных данных

			include blocks/about.pug
			include blocks/certificates.pug
			include blocks/quality.pug
			include blocks/window-banner.pug

			section.reviews
				.container
					.block-title За 5 лет выполнено более 450 работ <br> по остеклению балконов и лоджий
					.inner
						.slider-nav
							.slide
								img.slide__img(src=img+"reviews/vislouhova.jpg", alt="")
								.slide__name Вислоухова Жанна
								.slide__city Москва
							.slide
								img.slide__img(src=img+"reviews/ahmetova.jpg", alt="")
								.slide__name ахметова татьяна
								.slide__city Москва
							.slide
								img.slide__img(src=img+"reviews/malokyan.jpg", alt="")
								.slide__name ашот малокян
								.slide__city Москва
							.slide
								img.slide__img(src=img+"reviews/malokyan.jpg", alt="")
								.slide__name ашот малокян
								.slide__city Москва
						.slider-for
							.slide
								.slide-left
									img.slide__img(src=img+"reviews/img.jpg", alt="")
									.row
										.block
											.block__title тип работы
										.block
											.block__title Стоимость
											.price 120 480 ₽
								.slide-right
									.user
										img.user__img(src=img+"reviews/vislouhova.jpg", alt="")
										.user-inner
											.user__name Вислоухова Жанна
											.user__text Москва | Договор №Р-05081971
									.block.pd
										.block__title Выполненные работы
										ul.block-list
											li Демонтаж старых окон
											li Установка панорамных окон с ламинацией и шпросами
											li Уборка и вывоз мусора
									.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
									a.btn-yellow(href="#") хочу также
							.slide
								.slide-left
									img.slide__img(src=img+"reviews/img.jpg", alt="")
									.row
										.block
											.block__title тип работы
										.block
											.block__title Стоимость
											.price 120 480 ₽
								.slide-right
									.user
										img.user__img(src=img+"reviews/ahmetova.jpg", alt="")
										.user-inner
											.user__name Вислоухова Жанна
											.user__text Москва | Договор №Р-05081971
									.block.pd
										.block__title Выполненные работы
										ul.block-list
											li Демонтаж старых окон
											li Установка панорамных окон с ламинацией и шпросами
											li Уборка и вывоз мусора
									.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
									a.btn-yellow(href="#") хочу также
							.slide
								.slide-left
									img.slide__img(src=img+"reviews/img.jpg", alt="")
									.row
										.block
											.block__title тип работы
										.block
											.block__title Стоимость
											.price 120 480 ₽
								.slide-right
									.user
										img.user__img(src=img+"reviews/malokyan.jpg", alt="")
										.user-inner
											.user__name Вислоухова Жанна
											.user__text Москва | Договор №Р-05081971
									.block.pd
										.block__title Выполненные работы
										ul.block-list
											li Демонтаж старых окон
											li Установка панорамных окон с ламинацией и шпросами
											li Уборка и вывоз мусора
									.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
									a.btn-yellow(href="#") хочу также
							.slide
								.slide-left
									img.slide__img(src=img+"reviews/img.jpg", alt="")
									.row
										.block
											.block__title тип работы
										.block
											.block__title Стоимость
											.price 120 480 ₽
								.slide-right
									.user
										img.user__img(src=img+"reviews/vislouhova.jpg", alt="")
										.user-inner
											.user__name Вислоухова Жанна
											.user__text Москва | Договор №Р-05081971
									.block.pd
										.block__title Выполненные работы
										ul.block-list
											li Демонтаж старых окон
											li Установка панорамных окон с ламинацией и шпросами
											li Уборка и вывоз мусора
									.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
									a.btn-yellow(href="#") хочу также
							.slide
								.slide-left
									img.slide__img(src=img+"reviews/img.jpg", alt="")
									.row
										.block
											.block__title тип работы
										.block
											.block__title Стоимость
											.price 120 480 ₽
								.slide-right
									.user
										img.user__img(src=img+"reviews/malokyan.jpg", alt="")
										.user-inner
											.user__name Вислоухова Жанна
											.user__text Москва | Договор №Р-05081971
									.block.pd
										.block__title Выполненные работы
										ul.block-list
											li Демонтаж старых окон
											li Установка панорамных окон с ламинацией и шпросами
											li Уборка и вывоз мусора
									.slide__text Заказывала остекление коттеджа, помогли выбрать новые красивые окна под дизайн дома, изготовили и установили. Очень довольна качеством, ничего не продувает, выглядит эффектно, спасибо за отличную работу.
									a.btn-yellow(href="#") хочу также

			include blocks/mini-banner.pug
			include blocks/qa.pug

			section.q-banner
				img.circle(src=img+"q-banner/circles.png", alt="")
				.container
					img.window(src=img+"q-banner/window.png", alt="")
					img.girl(src=img+"q-banner/girl.png", alt="")
					.inner
						.block-title Остались вопросы? <br> мы с радостью вам поможем
						.block-text Перезвоним и ответим на все вопросы. Наш специалист позвонит вам <br> в течение 10 минут и подберет лучшее решение.
						form.form(action="#" method="POST")
							input.form__input(type="tel" name="q-banner-name" placeholder="+7 (___) ___-__-__")
							button.form__btn.btn-dark(type="submit") отправить заявку
							label.checkbox(for="q-banner-checkbox")
								input.checkbox__input(type="checkbox", name="q-banner-checkbox" id="q-banner-checkbox" checked)
								.checkbox__text Я ознакомлен(а) и согласен(а) с 
									a(href="http://", target="_blank", rel="noopener noreferrer") правилами обработками моих персональных данных

			include blocks/contact.pug


		include blocks/footer.pug
		include blocks/scripts.pug
		script(src="js/quiz.js" defer)
